#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#header {
  font-size: 30px;
  text-decoration: underline;
  color: #c0392b;
  flex-grow: 8;
  display: flex;
  justify-content: center;
}

#prev {
  background-color: #34495e;
  color: #ecf0f1;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  flex-grow: 1;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#next {
  background-color: #34495e;
  color: #ecf0f1;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  flex-grow: 1;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro-message {
  width: 700px;
  height: 300px;
  z-index: 1;
  color: white;
  border-radius: 5px;
  background-color: #1B1B1C;
  position: absolute;
  top: 75px;
  left: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#intro-text {
  font-size: 25px;
}

#intro-link {
  color: #3498db;
}

#intro-confirm {
  width: 200px;
  height: 50px;
  background-color: #27ae60;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 15px;
}

#message-display {
  width: 500px;
  height: 200px;
  z-index: 1;
  opacity: 0.7;
  color: white;
  border-radius: 5px;
  background-color: black;
  position: absolute;
  left: 375px;
  display: none;
  padding: 10px;
}

/*---------- view 1 ---------*/
#view-1 {
  display: none;
}

.toolbar {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 175px;
  margin: 10px;
  border-radius: 5px;
  background-color: #95a5a6;
  justify-content: space-around;
  align-items: center;
}

.tool-button {
  background-color: #34495e;
  border-radius: 5px;
  color: #ecf0f1;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  min-height: 130px;
  flex-basis: 150px;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 10px;
  padding: 10px;
}

.button-box {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.prop-button {
  height: 35px;
  margin: 5px;
  border-radius: 5px;
  background-color: white;
  flex-basis: 75px;
}

.bottom-bar {
  background-color: #bdc3c7;
  height: 35px;
  margin: 10px;
  border-radius: 5px;
}

#child-one-one {
  background-color: #e74c3c;
  margin: 10px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100px;
}

#child-one-two {
  background-color: #2ecc71;
  margin: 10px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 200px;
}

#child-one-three {
  background-color: #f1c40f;
  margin: 10px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 300px;
}

#container-one {
  background-color: #2c3e50;
  border: solid 7px #9b59b6;
  border-radius: 5px;
  margin: 10px;
  height: 300px;
}

/*---------- view 2 ----------*/

#view-2 {
  display: none;
}

#child-two-one {
  background-color: #2ecc71;
  border: solid 7px #9b59b6;
  margin: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 200px;
  flex-shrink: 0;
}

#child-two-two {
  background-color: #f1c40f;
  border: solid 7px #9b59b6;
  margin: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 200px;
  flex-shrink: 0;
}

#child-two-three {
  background-color: #e74c3c;
  border: solid 7px #9b59b6;
  margin: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 200px;
  flex-shrink: 0;
}

#container-two {
  background-color: #2c3e50;
  border-radius: 5px;
  margin: 10px;
  min-height: 314px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*---------- view 3 ----------*/

#view-3 {
  display: none;
}

.wrap-item {
  height: 100px;
  flex: 0 75px;
  background-color: #f39c12;
  border: solid 7px #9b59b6;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uno {
  background-color: #2ecc71;
}

.dos {
  background-color: #f1c40f;
}

.tres {
  background-color: #e74c3c;
}

#flex-flow-row-reverse-wrap-reverse {
  flex-basis: 125px;
}

.align-self-button {
  height: 35px;
  margin: 5px;
  border-radius: 5px;
  background-color: white;
  flex-basis: 50px;
}

#container-three {
  background-color: #2c3e50;
  border-radius: 5px;
  border: solid 7px #3498db;
  margin: 10px;
  height: 300px;
  display: flex;
}