#title {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  font-size: 20px;
  color: #c0392b;
}

/*---------- view 1 ---------*/
#view-1 {
  display: none;
}

.toolbar-1 {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 75px;
  margin: 10px;
  border-radius: 5px;
  background-color: #7f8c8d;
}

#child-one-a {
  background-color: #e74c3c;
  margin: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
  /*flex: 3;*/
  flex-basis: 10px;
  flex-grow: 1;
}
#child-one-b {
  background-color: #2ecc71;
  margin: 10px;
  height: 100px;
  /*flex: 1;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 20px;
  flex-grow: 3;
}
#child-one-c {
  background-color: #f1c40f;
  margin: 10px;
  height: 100px;
  /*flex: 2;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 40px;
  flex-grow: 2;
}

#container-one {
  background-color: #2c3e50;
  margin: 10px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* row, row-reverse, column-reverse */
  /* flex-end, flex-start, 
  space-between, space-around */
}

/*---------- view 2 ----------*/

#view-2 {
  display: none;
}

#child-two-a {
  background-color: red;
  margin: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
  /*flex: 3;*/
  flex-basis: 400px;
  flex-shrink: 1;
}
#child-two-b {
  background-color: green;
  margin: 10px;
  height: 100px;
  /*flex: 1;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 400px;
  flex-shrink: 3;
}
#child-two-c {
  background-color: blue;
  margin: 10px;
  height: 100px;
  /*flex: 2;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 400px;
  flex-shrink: 2;
}

#container-two {
  background-color: black;
  margin: 10px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* row, row-reverse, column-reverse */
  /* flex-end, flex-start, 
  space-between, space-around */
}

/*---------- view 3 ----------*/

#view-3 {
  display: none;
}

.wrap-item {
  height: 50px;
  flex: 0 50px;
  background-color: purple;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container-three {
  background-color: black;
  margin: 10px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* row, row-reverse, column-reverse */
  /* flex-end, flex-start, 
  space-between, space-around */
}